body{
	background-color: #F3F5F7;
	font-family: 'Lato', sans-serif;
}

#addItemGroup{
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

#header{
	background-color: #FF3526;
	color: white;
	margin-top: 30px;
	width: 600px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 40px;
}

p {
	display: inline-block;
}

button{
	color: #FF3526;
	float: right;
	display: inline-block;
}

#list{
	width: 800px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}